/* Constants */
@import url("./bootstrap.min.css");
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
}
.container{
    width: 90%;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
/* ---------------- */

 /* nav */
 .navbarrr{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px 0;
    border-bottom: 1px solid black;
    z-index: 2;
}
.navbarrr .navbar-nav .nav-item{
    padding: 0 20px;
}

/* Home Page */
.home{
    height: 100vh;
    background-image: url("./../Task7/task/images/full-8-1.jpeg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}
.home::after{
    content: "";
    position: absolute;
    inset: 0;
    background:linear-gradient(to left,rgba(243, 206, 206, 0.591),rgba(100, 93, 93, 0.733));
    z-index: -1;
}
.home .text-home{
    text-align: center;
    color: rgb(247, 246, 243);
    /* display: flex;
    flex-direction: column;
    gap: 20px; */
}
.home .text-home::after{
    content: "";
    width: 100%;
    height: 100%;
    background-color:rgba(133, 133, 254, 0.92);
    position: absolute;
    inset: 0;
    z-index: -1;
}
.home .text-home p{
    font-size: 22px;
    font-weight: 400;
    margin: 20px 0;
    line-height: 41px;
    font-family: "Open Sans", sans-serif;
}
.home .text-home h1{
    text-transform: capitalize;
    font-size: 34px;
    font-weight: 400;
    margin-bottom: 18px;
    margin-top: -10px;
    line-height: 41px;
    font-family: "Open Sans", sans-serif;
}
.home.text-home .btn{
    color: #081158;
    border:1px solid #081158;
    padding: 12px 30px;
    border-radius: 30px;   
    text-decoration: none;
    transition: all .5s;
}
.home .text-home .btn:hover{
    background-color: white;
    color: #081158;
}

/* ------------------------------ */

/* Cards */
.col-lg-3{
    transition: all .5s;
    margin-top: 50px;
}
.col-lg-3 .image {
    overflow: hidden;
}
.col-lg-3 .image img{
    transition: all .5s;
}
.col-lg-3:hover{
    transform: scale(1);
    transform: translateY(-20px);
}
.col-lg-3:hover .image img{
    transform: scale(1.1);
}
/* Media Query */
@media screen and (max-width:425px){
    body{
        font-size: 16px;
    }
    .parent .grand{
        width: 100%;
    }
}
/* اخفاء عنصر في الطباعه */
@media print{
    .parent h2{
        display: none;
    }
}


/* List with icons */
.family-business{
    padding: 60px 0;
}
.family-business .family{
    width: 50%;
    float: left;
    padding: 40px;
}
.family-business .f{
    margin-top: 90px;
}
.family-business .family h2{
    color: rgb(37,48,72);
    font-size: 36px;
    font-weight: 400;
    font-family: "Alegreya", serif;
    line-height: 49.6px;
}
.family-business .family h3{
    color: rgb(193, 171, 132);
    font-family: "Dancing Script";
    font-size: 28px;
    font-weight: 400;
    line-height: 38.6px;
    margin: 10px 0 20px 0;
}
.family-business .family p{
    color: rgb(104, 104, 104);
    font-family: "Alegreya Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 33.48px;
    margin-bottom: 30px;
}
.family-business .family ul li{
    margin: 20px 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 33.6px;
    font-family: "Alegreya Sans", sans-serif;
    color: rgb(104, 104,104);
    list-style-type: none;
}
.family-business .family ul li span{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    line-height: 3;
    background-color: rgb(193, 171, 132);
    color: white;
}
/* Media Query */
@media screen and (max-width:425px){
    .family-business .family{
        width: 100%;
    }
}

/* Animation */
.test
{
    width: 200px;
    height: 200px;
    margin-left: 20px;
    animation-name: Test;
    animation-duration: 2s;
    /* animation-timing-function: cubic-bezier(0.23, 1, 0.320, 1); */
    animation-iteration-count: infinite;
}
@keyframes Test{
    0%{transform: scale(1);} 
    50%{transform: scale(1.1);} 
    100%{transform: scale(1);} 
}

/* button */
.btn{
    text-align: center;
}
.btnn{
    background-color: rgb(255, 32, 32);
    text-transform: uppercase;
    color: #fff;
    padding: 30px 28px;
    display: inline-block;
    line-height: 0;
    cursor: pointer;
    margin: 10px;
    position: relative;
    z-index: 1;
    border: none;
    overflow: hidden;
}
.btnn::after{
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    inset: 0;
    transition: all .8s cubic-bezier(0.5, 1.6, 0.4, 0.7);
    z-index: -1;
}
.btnn:hover::after{
    width: 100%;
    background-color: blueviolet;  
}